<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552315342748-mqjqdav7vjpjfsgpofa6js6etvr8kopc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552315342748-mqjqdav7vjpjfsgpofa6js6etvr8kopc</string>
	<key>API_KEY</key>
	<string>AIzaSyADZZ_ugcrybk8V7tTh3dMMw9Yc-0kShe8</string>
	<key>GCM_SENDER_ID</key>
	<string>552315342748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportAppEwa</string>
	<key>PROJECT_ID</key>
	<string>sportapp-abab3</string>
	<key>STORAGE_BUCKET</key>
	<string>sportapp-abab3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552315342748:ios:b12fe6a98519f91a3f8259</string>
</dict>
</plist>